{% extends 'base.html.twig' %}

{% block title %}Détail sortie{% endblock %}

{% block body %}

    <div class="container">
        <h3>Afficher une sortie</h3>
        <div class="row mt-4">
            <div class="col-md-6 col-sm-12">
                <div class="col">
                    <label>Nom de la sortie : </label>
                    <span >{{ event.name }}</span>
                </div>
                <div class="col">
                    <label >Date et heure : </label>
                    <span >{{ event.dateStart|date('d-m-Y h:i', "Europe/Paris") }}</span>
                </div>
                <div class="col">
                    <label >Date limite : </label>
                    <span>{{ event.dateEndOfRegistration|date('d-m-Y h:i', "Europe/Paris") }}</span>
                </div>
                <div class="col">
                    <label >Nom de places : </label>
                    <span>{{ event.maxNumberPlaces }}</span>
                </div>
                <div class="col">
                    <label>Durée :</label>
                    <span>{{ event.timeDelayMinutes }} minutes</span>
                </div>
                <div class="col">
                    <label>Description et infos : </label>
                    <span>{{ event.info }}</span>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="col">
                    <label>Ville organisatrice :</label>
                    <span>{{ event.site.name }}</span>
                </div>
                <div class="col">
                    <label >Lieu : </label>
                    <span>{{ event.location.name }}</span>
                </div>
                <div class="col">
                    <label>Rue :</label>
                    <span >{{ event.location.street }}</span>
                </div>
                <div class="col">
                    <label>Code postal :</label>
                    <span>{{ event.location.city.zipCode }}</span>
                </div>
                <div class="col">
                    <label >Latitude :</label>
                    <span >{{ event.location.latitude }}</span>
                </div>
                <div class="col">
                    <label >Longitude :</label>
                    <span >{{ event.location.longitude }}</span>
                </div>
            </div>
        </div>

        <h3>Liste des participants inscrits :</h3>
        <div class="scrollbar">
            <table class="table col-md-6">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                </tr>
                </thead>
                <tbody>

                {% for su in event.subscribersUsers %}
                    <tr>
                        <td>{{ su.pseudo }}</td>
                        <td>{{ su.firstname }} {{ su.name }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
