{% extends 'base.html.twig' %}

{% block title %}Ajouter sortie{% endblock %}

{% block body %}
<div class="container">

    {{ form_start(formEvent, {'method': 'post', 'attr': {'class': ''}}) }}

    <div class="row bar">

        <div class="col-lg-6">
            <div class="form-group">
                {{ form_row(formEvent.name, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formEvent.date_start, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formEvent.dateEndOfRegistration, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formEvent.max_number_places, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formEvent.time_delay_minutes, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formEvent.info, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                {{ form_row(formEvent.location.city, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formEvent.location.name, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formEvent.location.street, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
            <div class="form-group">
                <label >Code Postal</label>
                <input type="text" class="form-control" >
            </div>
            <div class="form-group">
                {{ form_row(formEvent.location.latitude, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(formEvent.location.longitude, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
        </div>
    </div>

    <div style="text-align: center">
        {{ form_widget(formEvent.save, { 'attr': {'class': 'btn btn-primary btn-lg btn-block"', 'style':''}} ) }}
        {{ form_widget(formEvent.publish, { 'attr': {'class': 'btn btn-primary btn-lg btn-block"', 'style':''}} ) }}
        {{ form_widget(formEvent.cancel, { 'attr': {'class': 'btn btn-primary btn-lg btn-block"', 'style':''}} ) }}
    </div>


    {{ form_end(formEvent) }}

</div>
{% endblock %}
