{% extends 'base.html.twig' %}

{% block title %}Afficher une sortie{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(formEvent, {'method': 'post', 'attr': {'class': ''}}) }}

        <div class="row bar">

            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_row(formEvent.name, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
                <div class="form-group">
                    {{ form_row(formEvent.date_start, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
                <div class="form-group">
                    {{ form_row(formEvent.dateEndOfRegistration, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
                <div class="form-group">
                    {{ form_row(formEvent.max_number_places, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
                <div class="form-group">
                    {{ form_row(formEvent.time_delay_minutes, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
                <div class="form-group">
                    {{ form_row(formEvent.info, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    {{ form_row(formEvent.location.city, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
                <div class="form-group">
                    {{ form_row(formEvent.location.name, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
                <div class="form-group">
                    {{ form_row(formEvent.location.street, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
                <div class="form-group">
                    <label >Code Postal</label>
                    <p id="zip_code">_____</p>
                </div>
                <div class="form-group">
                    {{ form_row(formEvent.location.latitude, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
                <div class="form-group">
                    {{ form_row(formEvent.location.longitude, { 'attr': {'class': 'form-control', 'style':''}} ) }}
                </div>
            </div>
        </div>

        <div style="text-align: center" class="row">
            {{ form_widget(formEvent.save, { 'attr': {'class': 'btn btn-primary col-md-2', 'style':''}} ) }}
            {{ form_widget(formEvent.publish, { 'attr': {'class': 'btn btn-primary col-md-2 ml-5', 'style':''}} ) }}
            <a href={{ path('cancelEvent', {id: event.id}) }} class="col-md-2"><input type="button" class="btn btn-primary pl-5 pr-5 ml-4 mr-5" value="Supprimer"></a>
            {{ form_widget(formEvent.cancel, { 'attr': {'class': 'btn btn-primary col-md-2 ml-5', 'style':''}} ) }}
        </div>


        {{ form_end(formEvent) }}
    </div>
{% endblock %}
