{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    {% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <ul>
        {% for error in searchForm.vars.errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>

    {{ form_start(searchForm) }}


    <div class="group">
        <div class="form-group">
            <div>
                <div class="row">
                    <div class="offset-1 col-lg-5 col-md-5">
                        <div>
                            {{ form_label(searchForm.city) }}
                            {{ form_widget(searchForm.city, { 'attr': {'class': 'form-group col-lg-8 col-md-8', 'style':''}}) }}
                        </div>
                        <div>
                            {{ form_label(searchForm.search) }}
                            {{ form_widget(searchForm.search, { 'attr': {'class': 'form-group col-lg-8 col-md-8', 'style':''}}) }}
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-5">
                                {{ form_label(searchForm.date_start) }}
                                {{ form_widget(searchForm.date_start, { 'attr': {'class': 'form-group col-lg-8 col-md-8', 'style':''}}) }}
                            </div>
                            <div class="col-lg-5 col-md-5">
                                {{ form_label(searchForm.date_end) }}
                                {{ form_widget(searchForm.date_end, { 'attr': {'class': 'form-group col-lg-8 col-md-8', 'style':''}}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5">
                        <div>
                            {{ form_widget(searchForm.owner,{ 'attr': {'class': 'form-check-input', 'style':''}}) }}
                            {{ form_label(searchForm.owner) }}
                        </div>
                        <div>
                            {{ form_widget(searchForm.subscribed, { 'attr': {'class': 'form-check-input', 'style':''}}) }}
                            {{ form_label(searchForm.subscribed) }}
                        </div>
                        <div>
                            {{ form_widget(searchForm.notSubscribed, { 'attr': {'class': 'form-check-input', 'style':''}}) }}
                            {{ form_label(searchForm.notSubscribed) }}
                        </div>
                        <div>
                            {{ form_widget(searchForm.eventEnded, { 'attr': {'class': 'form-check-input', 'style':''}}) }}
                            {{ form_label(searchForm.eventEnded) }}
                        </div>
                    </div>
                    <button type="submit" class="has-search">Rechercher</button>
                </div>
                {{ form_end(searchForm) }}
            </div>
        </div>
    </div>
    <div class="container">
        {% if eventsFromSearch is defined %}
            <table class="table">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>inscrits/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for e in eventsFromSearch %}
                        <td>{{ e.name }}</td>
                        <td>{{ e.dateStart }}</td>
                        <td>{{ e.dateEnd }}</td>
                        <td>{{ e.number }}/{{ e.maxNumberPlaces }}</td>
                        <td>{{ e.state }}</td>
                        <td>{{ e.subscribed }}</td>
                        <td>{{ e.owner }}</td>
                        <td>
                            {% if e.owner != user and e.state != "En création" %}
                                <a href="{{ path('description') }}">Afficher</a>
                            {% else %}
                                <a href="{{ path('modify') }}">Modifier</a>
                            {% endif %}

                            {% if e.state == "Créée" or e.state == "Ouverte" %}

                                {% if e.subscribed %}
                                    <a href="{{ path('unsubscribe') }}"> - Se désister</a>
                                {% else %}
                                    <a href="{{ path('subscribe') }}"> - S'inscrire</a>
                                {% endif %}

                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                </tbody>
            </table>
        {% endif %}

        <button>Créer une sortie</button>
    </div>

{% endblock %}