{% extends 'base.html.twig' %}

{% block title %}Inscription import fichier{% endblock %}

{% block body %}

    <div class="container">
        <div class="">
            {{ form_start(registrationForm, {'method': 'post', 'attr': {'class': ''}}) }}

            <div class="form-group">
                {{ form_row(registrationForm.site, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>
            <div class="form-group">
                {{ form_row(registrationForm.file, { 'attr': {'class': 'form-control', 'style':''}} ) }}
            </div>

            <div style="text-align: center">
                {{ form_widget(registrationForm.submit, { 'attr': {'class': 'btn btn-primary btn-lg btn-block"', 'style':''}} ) }}
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}