{% extends 'base.html.twig' %}

{% block title %}Hello CityController!{% endblock %}

{% block body %}
    <br>
    <h1 class="text-center">Gérer les villes</h1>
    <br>
    <h4>Filtrer les villes</h4>
    <br>
    <p> </p>
    <form role="search" class="form-inline my-2 my-lg-2" method="get" action="{{ path('city_search') }}">
        <label>Le nom contient : &nbsp</label>
        <input class="form-control mr-sm-2" type="search" placeholder="Recherche" name="search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Rechercher</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Ville</th>
            <th scope="col">Code Postal</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for City in tabCity %}
            <tr>
                <td>{{ City.name() }}</td>
                <td>{{ City.zipCode() }}</td>
                <td><a href="{{ path('city_search') }}">Modifier - <a href="{{ path('city_search') }}">Supprimer</td>
            </tr>
        {% endfor %}
        <tr>
             {{ form_start(formCity) }}
            <td>
                    <div class="form-group">
                        {{ form_widget(formCity.name,{'attr': {'class': 'form-control','placeholder':"Nouvealle ville"}}) }}
                    </div>
            </td>
            <td>
                    <div class="form-group">
                        {{ form_widget(formCity.zipCode,{'attr': {'class': 'form-control','placeholder':"Nouveau code"}}) }}
                    </div>
            </td>
            {{ form_end(formCity) }}
        </tr>

{% endblock %}