{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Modifier le profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    {#<div class="form-group">
        {{ form_label(form.imageFilename) }}
        {{ form_widget(form.imageFilename) }}
        {{ form_errors(form.imageFilename) }}
        {{ form_widget(form.submit, {'attr': {'class': 'btn btn-outline-primary btn-rounded'}}) }}
    </div>#}

    <a href="{{ path('user_index') }}">Retour</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
