{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <br>
    <h1 class="text-center">Gérer les profils</h1>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Firstname</th>
                <th scope="col">Name</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Actif</th>
                <th scope="col">Administrator</th>


                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.pseudo }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                {#   <td>{{ user.password }}</td> #}
                  <td>{{ user.actif ? 'Yes' : 'No' }}</td>
                  <td>{{ user.administrator ? 'Yes' : 'No' }}</td>
                {# {% if tabDetail.imageFilename %}
                       <p class="card-text text-left"><img class="image-fluid" src="{{ asset('uploads/images/' ~ tabDetail.imageFilename) }}" alt="user_image" /></p>
                   {% endif %} #}


                {#   <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}






                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">Afficher</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
