{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <br>
    <h3 class="text-center">{{ user.pseudo }}</h3>
    <br>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% if user.imageFilename %}
            <img class="image-fluid" src="{{ asset('uploads/images/' ~ user.imageFilename) }}" alt="image profil"
                 height="200"/>
            {% else %}
                <img class="image-fluid" src="{{ asset('build/images/avatar.png') }}" alt="image profil"
                     height="200"/>
            {% endif%}
        </div>
        <div class="col-md-6">
                <div>
                    <br>
                    <label class="col-md-6">Prénom : </label>
                    <span class="col-md-6">{{ user.firstname }}</span>
                </div>
                <div>
                    <label class="col-md-6">Nom : </label>
                    <span class="col-md-6">{{ user.name }}</span>
                </div>
                <div>
                    <label class="col-md-6">Telephone : </label>
                    <span class="col-md-6">{{ user.phone }}</span>
                </div>
                <div>
                    <label class="col-md-6">Email : </label>
                    <span class="col-md-6">{{ user.email }}</span>
                </div>
                <div>
                    <label class="col-md-6">Ville de rattachement : </label>
                    <span class="col-md-6">{{ user.site.name }}</span>
                </div>
            </div>
        </div>
    </div>


    {# <th>Images</th>
        <td> {% if tabDetail.imageFilename %}
                <p class="card-text text-left"><img class="image-fluid" src="{{ asset('uploads/images/' ~ tabDetail.imageFilename) }}/></p>
            {% endif %}</td>    #}
    <br>
    <div class="text-center">
        <a href="{{ path('home') }}">Retour aux sorties</a>
    </div>
    {# <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

     {{ include('user/_delete_form.html.twig') }} #}
    {% endblock %}
