{% extends 'base.html.twig' %}

{% block title %}Détail utilisateur{% endblock %}

{% block body %}
    <br>
    <div class="container">
    <h3 class="text-center">{{ user.pseudo }}</h3>
    <br>

    <div class="row">
        <div class="col-md-4">
            {% if user.imageFilename %}
            <img class="image-fluid" src="{{ asset('uploads/images/' ~ user.imageFilename) }}" alt="image profil"
                 height="200"/>
            {% else %}
                <img class="image-fluid" src="{{ asset('build/images/avatar.png') }}" alt="image profil"
                     height="200"/>
            {% endif%}
        </div>
        <div class="col-md-6 col-sm-12">
                <div>
                    <br>
                    <label class="col-6">Prénom : </label>
                    <span class="col-6">{{ user.firstname }}</span>
                </div>
                <div>
                    <label class="col-6">Nom : </label>
                    <span class="col-6">{{ user.name }}</span>
                </div>
                <div>
                    <label class="col-6">Telephone : </label>
                    <span class="col-6">{{ user.phone }}</span>
                </div>
                <div>
                    <label class="col-6">Email : </label>
                    <span class="col-6">{{ user.email }}</span>
                </div>
                <div>
                    <label class="col-6">Ville de rattachement : </label>
                    <span class="col-6">{{ user.site.name }}</span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="text-center">
        <a href="{{ path('home') }}">Retour aux sorties</a>
    </div>

    {% endblock %}
